{% load staticfiles %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="theme-color" content="orange" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'waypoint.js' %}"></script>    
    <script src="{% static 'infinite.js' %}"></script>
<!--    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>-->
    {% include 'backbone.html' %}

    <title>{% block title %}
{% endblock%}</title>

<style>
    .brands{
        padding: 3px;
    }
    .profile_info{
        width: 50%;
        text-align: right;
        display: flex;
        flex-flow: row nowrap;;        
    }
    .brand{
        width: 50%;
    }
    .navdiv{
        display: flex;
        flex-flow: row nowrap;;
    }
    .top_p{
        float: right;
        padding:12px;
        max-width: 90px;
    }

</style>

<body>
    <section class="top">
        <nav class="nav">
            <div class="navdiv">
                <div class="brand">
                    <span class="header_font">
                        <a href="/home"><span style="color:orange">Fasigner</span></a>
                    </span>
                </div>    
                <div class="profile_info" >
                    
                    <span class="top_p"><a href="/home">Home</a></span>
                    <span class="top_p"><a href="/">Upload</a></span>
                    {% if user %}  
                        <span class="top_p"><a href="/profile/{{user.username}}/">{{user.username}}</a></span>
                        <span class="top_p"><a href="/logout/">Logout</a></span>
                    {% else %}
                    <span class="top_p"><a href="/accounts#login">Login</a></span>
                    {% endif %}
                </div>
            </div>
        </nav>
    
        
        <main class=main>
            {% block content %}

            {% endblock %}
        </main>
    </section>
    {% block script %}
    
    {% endblock %}

    {% block backbone %}
    
    {% endblock %}
</html>
