{% extends 'base.html' %}
{% include 'css.html' %}
{% include 'js.html' %}

{% block title %}Create Photo{% endblock %}


{% block content %}
<section class="thumb_section">

<style>
    .mids
    {
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin: 10px;
        position: relative;
    }

    imgs {
        
        position:absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        border-radius: 8px;
    }  

    .thumbimg{
      border-radius: 9px;
      max-width: 280px;
      padding: 1px;
      
    }
    .thumb_section{
      max-width: 900px;
      margin:0px auto;
    }
    .input-form{
      width: 100%;
    }
    .main{
      display: flex;
      flex-direction: column;
    }
    .thumbs{
      margin:0px auto;
      position: relative;
      width: 100%;
    }
    .mid{
      
      margin-bottom: 10px;
    }
    #show_box{
      float: right;
      max-width: 600px;
      
    }
    .group{
      width: 100%;
      display: flex;
      flex-direction: row;
    }
</style>
  <div id="show_box" style="display:none">
    <img src="" id="show_image">
  </div>

<div class="input-form">
  <form method="POST" action="." enctype="multipart/form-data" id="formUpload">
          {% csrf_token %}
            {{form.as_p}}
          <input type="submit" class="btn btn-primary" value="post">
  </form>
</div>

<div class="thumbs">
    {% for p in photos %}
      <div class="group">
        {% for i in p %}
          <div class="mid">
            <a href="{{ i.original_photo.url }}"><img src="{{ i.thumbs.url}}" class="thumbimg"></a>
          </div>
        {% endfor %}
      </div>
      {% endfor %}      
  </div>
<!--          <div class="mid">
            <a href="{{ i.original_photo.url }}"><img src="{{ i.thumbs.url}}" class="thumbimg"></a>
          </div>
       
                <!--<td><a href="{{i.photo.url}}">{{i.photo.name}}</a></td>-->

</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
   console.log("sdfh")
    $('#id_original_photo').change(function(){
      if(this.files && this.files[0]){
        var reader = new FileReader();
        reader.onload = function(e){
          $('#show_image').attr("src",e.target.result);
          $('#show_box').show()
        }
        reader.readAsDataURL(this.files[0]);
      }
    })
</script>
{% endblock %}


<!--
<script>
    $(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_photo").change(function () {
          if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#image").attr("src", e.target.result);
              $("#modalCrop").modal("show");
            }
            reader.readAsDataURL(this.files[0]);
          }
        });
  
        /* SCRIPTS TO HANDLE THE CROPPER BOX */
       
       
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        console.log($image)
        $("#modalCrop").on("shown.bs.modal", function () {
          $image.cropper({
            viewMode: 1,
            aspectRatio: 1/1,
            strict: false,
            movable : true,
            scalable:true,
            //minCropBoxWidth: 200,
            //minCropBoxHeight: 200,
            ready: function () {
              $image.cropper("setCanvasData", canvasData);
              $image.cropper("setCropBoxData", cropBoxData);
            }
          });
        }).on("hidden.bs.modal", function () {
          cropBoxData = $image.cropper("getCropBoxData");
          canvasData = $image.cropper("getCanvasData");
          $image.cropper("destroy");
        });
  
        $(".js-zoom-in").click(function () {
          $image.cropper("zoom", 0.1);
        });
  
        $(".js-zoom-out").click(function () {
          $image.cropper("zoom", -0.1);
        });



  
        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
          var cropData = $image.cropper("getData");
          $("#id_x").val(cropData["x"]);
          $("#id_y").val(cropData["y"]);
          $("#id_height").val(cropData["height"]);
          $("#id_width").val(cropData["width"]);
          $("#formUpload").submit();
        });
  
      });
  </script>
-->


<!--
<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
-->

